
  .modal_window {
    display: flex;
    width: 80vw;
    height: 85vh;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    padding: 30px 15px 30px 15px;
  }

  .image_section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow: auto;
  }

  .image {
    max-height: 100%;
  }
  .info_section {
    width: fit-content;
  }

  