
  .image_section{
    min-width: 40vw;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    overflow: auto;
  }

  .image {
    max-height: 100%;
  }
  .info_section {
    width: fit-content;
  }

  