
  .modal_contents {
    display: flex;
    overflow: auto;
    height: fit-content;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: whitesmoke;
  }

  .postContainer {
    position: relative;
    width: 90vw;
  }
  .image_section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    
  }

  .image_wrap {
    
  }

  .image {
    height:100%;

  }
  .post_info {
    
  }

  