.modal_outter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 999;
}

.modal_window {
    display: flex;
    max-width: 70vw;
    max-height: 80vh;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    padding: 30px 15px 30px 15px;
  }
