.container {
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: antiquewhite;
}
.top_grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    row-gap: 1.5rem; 
}
.column_grid {
    display: grid;
    justify-content: center;
    row-gap: 2rem;
    height: fit-content;
}

.sentry{
    position: static;
    bottom: 0;
}